body{
	background-color:cadetblue;
}

#container{
	width: 750px;
	margin: 50px auto;
}

#options{
	text-align: center;
}

#trackName{
	font-family: tahoma;
	color: #07c256;
	font-size: 25px;
}

div#audioPlayer{
	width: 750px;
	height: 80px;
	background: linear-gradient(#666, #000);
	border-radius: 4px;
	padding: 0px;
}

div#audioControls{
	margin-left: 70px;
}

div#audioControls > button{
	border: none;
	cursor: pointer;
	outline: none;
	display: block;
	float: left;
	margin: 22px 10px 0px 0px;
}

div#audioControls > input{
	outline: none;
	display: block;
	float: left;
	margin: 35px 10px 0px 0px;
}

input#seekSlider{
	width: 300px;
}

input#volumeSlider{
	width: 70px;
}

div#timeBox{
	margin: 23px 10px 10px 10px;
	float: left;
	width: 80px;
	background: #000;
	border-bottom: #333 1px solid;
	text-align: center;
	color: #09f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 12px;
}

input[type='range']{
	-webkit-appearance:none !important; 
	margin: 0px;
	padding: 0px;
	background: #000;
	height: 13px;
	border-bottom: #333 1px solid;
}

input[type='range']::-ms-fill-lower{
	background: #000;
}

input[type='range']::-ms-fill-upper{
	background: #000;
}

input[type='range']::-moz-range-track{
	border: none;
	background: #000;
}

input[type='range']::-webkit-slider-thumb{
	-webkit-appearance: none !important;
	background: radial-gradient(#fff, #333);
	height: 11px;
	width: 11px;
	border-radius:100%;
	cursor: pointer; 
}

input[type='range']::-moz-range-thumb{
	-webkit-appearance: none !important;
	background: radial-gradient(#fff, #333);
	height: 11px;
	width: 11px;
	border-radius:100%;
	cursor: pointer; 
}

input[type='range']::-ms-thumb{
	-webkit-appearance: none !important;
	background: radial-gradient(#fff, #333);
	height: 11px;
	width: 11px;
	border-radius:100%;
	cursor: pointer; 
}


button:active{
	position: relative;
	top: 2px;
}

button#playPauseBtn{
	/* background-color: rgb(250, 250, 250); */
	width: 40px;
	height: 40px;
	background-image: url("../images/play.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45px;
    border-radius: 25px;
}



button#muteBtn{
	background-color: rgb(250, 250, 250);
	width: 30px;
	height: 30px;
	background-image: url("../images/volume.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 44px;
    	border-radius: 20px;
    	background-position-y: -5px;
}
